@import "./base.css";



.hide {
    display: none;
}


/* display dropdown on hover */
ul li a:hover+.hidden,
li>.hidden:hover {
    display: block;
    transition: all 0.54s ease;
}

.arrow-up {
    display: none;
}

li a:hover .arrow-up {
    display: block;
}

li a:hover .arrow-down {
    display: none;
}