@import "./base.css";


/* display dropdown on hover */
ul li a:hover+.hidden,
li>.hidden:hover {
    display: flex;
    flex-direction: column;
}

.arrow-up {
    display: none;
}

li a:hover .arrow-up {
    display: block;
}

li a:hover .arrow-down {
    display: none;
}